@{
    ViewBag.Title = "About";
}
    <br>
    <div class="container">
        <div class="jumbotron">
            <h2><b>Activos<b></h2>
            <br>
            <p>
                Proyecto programacion en ambiente web 2 con ASP.NET MVC / Web API.
            </p>
            <p>Luis Gabriel Avila Medrano 206380306</p>
        </div>
    </div>
