
@{
    ViewBag.Title = "Calificacion";
}

<h2>Calificacion</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Puntos a Evaluar</th>
            <th scope="col">Puntos</th>
            <th scope="col">Autoevaluación</th>
            <th scope="col">Calificación Profesor</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            <td>Registros Ejemplo</td>
            <td>10 Pts</td>
            <td>10 pts</td>
            <td></td>

        </tr>
        <tr  class="success">
            <td>Diseño de la Arquitectura del Software, estándares log4net, mensaje toastr, control de errores.</td>
            <td>10 Pts</td>
            <td>10 Pts</td>
            <td></td>
        </tr>
        <tr  class="success">

            <td>Seguridad</td>
            <td>5 Pts</td>
            <td>5 Pts</td>
            <td></td>
        </tr>

        <tr  class="success">
            <td>
                Mantenimientos
                <ul>
                    <li>Vendedor 5Pts</li>
                    <li>Activos 10Pts</li>
                    <li>Tipo Activo 5Pts</li>
                    <li>Marca 5Pts</li>
                    <li>Asegurador 5Pts</li>
                </ul>
            </td>
            <td>30 Pts</td>
            <td>
                28 Pts
                <ul>
                    <li>Vendedor 5Pts</li>
                    <li>Activos 9Pts</li>
                    <li>Tipo Activo 5Pts</li>
                    <li>Marca 5Pts</li>
                    <li>Asegurador 5Pts</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr  class="success">
            <td>
                Procesos
                <ul>
                    <li>
                        Calculo Depreciación
                        (actualiza costo del activo y crea histórico de depreciación por activo)
                    </li>

                </ul>
            </td>

            <td>20 Pts</td>
            <td>19 Pts</td>
            <td></td>
        </tr>
        <tr class="danger">
            <td>
                Reportes
                <ul>
                    <li>
                        Listado activos y
                        crea pdf 5Pts
                    </li>
                    <li>Consulta de activo 5Pts</li>
                    <li>Vencimiento Garantías 2Pts</li>
                    <li>Gráfico activos por tipo 5Pts</li>
                    <li>Listado cierres 3Pts</li>
                    <li>Reporte Analítico, creación y consumo de API 5Pts</li>
                </ul>
            </td>
            <td>20 Pts</td>
            <td>
                10 Pts
                <ul>
                    <li>
                        Listado activos y
                        crea pdf 5Pts
                    </li>
                    <li>Consulta de activo 5Pts</li>
                    <li>Vencimiento Garantías 0Pts</li>
                    <li>Gráfico activos por tipo 0Pts</li>
                    <li>Listado cierres 0Pts</li>
                    <li>Reporte Analítico, creación y consumo de API 0Pts</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr class="warning">
            <td>Defensa del Proyecto</td>
            <td>5 Pts</td>
            <td>3 Pts</td>
            <td></td>
        </tr>
        <tr class="success">
            <td>Total</td>
            <td>100 </td>
            <td>85</td>
            <td></td>
        </tr>
    </tbody>
</table>

